.subcategories-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filter-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.filter-row {
  display: flex;
  width: 100%;
  gap: 16px;
}

.reset-button-div {
  display: flex;
}

.filter-form button {
  width: max-content;
}

.filter-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-subcategory-button {
  height: 48px;
  padding: 0 24px;
  font-weight: 500;
}

.action-button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.table-container {
  position: relative;
  min-height: 100px;
  overflow: auto;
}

.loading-bar {
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.subcategories-table {
  width: 100%;
}

.mat-mdc-row:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.no-data {
  text-align: center;
  padding: 20px;
  font-style: italic;
  color: white;
}

.filter-card,
.table-card {
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: flex-start;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.filter-form .mat-mdc-form-field {
  width: 100%;
}

.mat-mdc-chip-set {
  padding-top: 15px;
}
