.card {
  margin: 20px 0;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 12px;
  text-align: left;
  color: black;
  border: 1px solid #ddd;
}

canvas {
  width: 100%;
  height: 400px;
}

/* Dashboard Section Styles */
.dashboard-section {
  margin: 20px 0;
  border-radius: 8px;
  background-color: #f9f9f9 !important;
  color: black;
  border: 1px solid #ddd;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card {
  background-color: #f9f9f9 !important;
  box-shadow: none;
}

mat-paginator {
  background-color: #f9f9f9 !important;
  color: black !important;
}

.table-card {
  /* border-radius: 12px; */
  overflow: hidden;
  border-collapse: collapse;
}

.table-container {
  position: relative;
  min-height: 100px;
  overflow: auto;
}

.dashboard-table {
  width: 100%;
  color: black !important;
  background-color: #f9f9f9;
  border-collapse: collapse;
  font-size: 24px;
  font-weight: bold;
}

#out-of-stock .dashboard-table tr:last-child {
  border-bottom: 1px solid #ddd;
  border-width: 0.1rem !important;
}

.mat-mdc-row:hover {
  background-color: #ededed;
}

.no-data {
  text-align: center;
  padding: 20px;
  font-style: italic;
  color: #666;
}

.date-time-badge {
  background-color: #ebefff;
  color: #17599c;
  padding: 8px 10px;
  border-radius: 12px;
  font-size: 13px;
  font-weight: 500;
}

.high-selling-badge {
  background-color: #e8f5e9;
  color: #2e7d32;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 500;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

@media (max-width: 768px) {
  .dashboard-section {
    margin: 16px 0;
  }

  .table-container {
    overflow-x: auto;
  }

  .dashboard-table {
    min-width: 600px;
  }
}
#recent-products th:nth-child(1) {
  width: 60%;
}
#recent-products th:nth-child(2) {
  width: 20%;
}
#recent-products th:nth-child(3) {
  width: 20%;
}

.product-name {
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-rendering: optimizeLegibility;
  text-decoration: none;
}

::ng-deep .dashboard-section .mat-mdc-paginator {
  color: #334155 !important;
}

::ng-deep .dashboard-section .mat-mdc-paginator .mat-mdc-select-value,
::ng-deep .dashboard-section .mat-mdc-paginator .mat-mdc-select-arrow {
  color: #475569 !important;
}

::ng-deep .dashboard-section svg.mat-mdc-paginator-icon,
::ng-deep .dashboard-section .mat-mdc-paginator .mat-mdc-icon-button {
  fill: #48494b !important;
}

::ng-deep .dashboard-section .mat-mdc-paginator .mat-mdc-icon-button {
  background-color: #f7f5f5 !important;
}

::ng-deep
  .dashboard-section
  .mat-mdc-icon-button[aria-disabled]
  .mat-mdc-paginator-icon {
  fill: #c8c7c7 !important;
}

#high-selling .table-container {
  padding-top: 15px;
}

#high-selling .dashboard-table {
  border-bottom: 1px solid lightgrey;
}

#high-selling mat-card-subtitle {
  color: #adadad;
}
