.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
}

.brands-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-form {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-direction: row;
}

.filter-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-actions button {
  width: max-content;
}

.mat-mdc-chip-set {
  padding-top: 15px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button.delete {
  background: #dc3545;
}

.action-button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.add-brand-button {
  height: 48px;
  padding: 0 24px;
  font-weight: 500;
}

.filter-card,
.table-card {
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.table-container {
  position: relative;
  min-height: 100px;
  overflow: auto;
}

.loading-bar {
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.brands-table {
  width: 100%;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background: #f4f4f4;
}

.mat-mdc-row:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.no-data {
  text-align: center;
  padding: 20px;
  font-style: italic;
  color: white;
}

::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: flex-start;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.filter-form .mat-mdc-form-field {
  width: 100%;
}
