html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.date-field .mat-datepicker-toggle-default-icon {
  color: black !important;
}

::ng-deep .mat-mdc-standard-chip .mdc-evolution-chip__action--primary::before {
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
}
